@import "tailwindcss";

.fisherman {
  position: relative;
}

.pole {
  width: 3px;
  height: 80px;
  background-color: black;
  transform-origin: bottom left;
}

@keyframes pull-back {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}

.animate-pull {
  animation: pull-back 0.5s ease;
}

.shadow-fish {
  transition: transform 0.5s;
}

/* Wavy Water Effect */
.wavy-water {
  background: linear-gradient(to bottom, #4db8ff 50%, #007acc 100%);
  background-size: 200% 200%;
  animation: wave 4s ease-in-out infinite;
  border-radius: 0 0 0.5rem 0.5rem;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Fish Wiggle Animation */
.fish-wiggle {
  animation: wiggle 3s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: translateX(-5px) rotate(10deg);
  }
  50% {
    transform: translateX(0) rotate(0deg) translateY(18vh);
  }
  100% {
    transform: translateX(-5px) rotate(10deg);
  }
}

.hat {
  width: 30px;
  height: 15px;
  background-color: brown;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: -10px;
  left: -15px;
}

.hat-brim {
  width: 60px;
  height: 10px;
  background-color: brown;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 10px;
  left: -20px;
}
